body{
    margin:0;
}

.canvas{
    border:10px black solid;
    position:absolute;
    /*
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    */
    cursor: crosshair;
    /* padding: 0 20px;
    margin: 0 20px; */
}

#canvas-real{
    background-color: white;
    margin: 0;
    padding: 0;
}

#canvas-draft{
    background-color: transparent;
    margin: 0;
    padding: 0;
}
/* body{
    overflow:hidden;
} */

#canvas-container{
    height: 80%;
    width: 75%;
    position: relative;
    margin: 0px;
    float: left;
    padding: 0px;
    border: none;
}

.img-responsive{
    display: inline-block;
    font: normal normal normal 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}



/* Menu  */

.menu {
    padding: 10px 10px;
    width: 20%;
    height: 97%;
    float: right;
    border: 2px solid red;
}

.clearfix:after {
    display: block;
    clear: both;
    content: " ";
}


/* Menu Buttons  */

/* #menu1 {
    height: 20%;
} */

/* #row1 button,
#row2 button,
#text-tool {
    font-size: 3vw;
    width: 22%;
    height: 60px;
    background-color: grey;  
} */

.menu > button{
    width: 100%;
    display: block;
}


#row8 button {
    background-color: red;
    font-size: 4vw;
    width: 40px;
    height: 40px;
}



#row1,
#row2,
#row3,
#row4,
#row5,
#row6,
#row7,
#row8,

#line,
#linew,
#random {
    display: flex;
    justify-content: center;
}


#selectors {
    margin: 10px 0;
    padding: 9px 0;
    background-color: darkgray;
}

#selectors div{
    padding:0px;
}

#rowbottom {
    height: 20%;
}

#text-panel {
    height: 70%;
}

.sp-replacer {
    float: right;
}



/*#stroke,
#fill,
#backg {
    height: 10%;
}*/

/* .sp-preview {
    width: 70%;
    height: 70%;
} */

label.panel1,
label.panel2,
label.panel3,
label.panel4{
    font:13px;
    display:inline;
}

label.panel5,
label.panel6,
label.panel7{
    font:13px;
    display: inline;
}

/*#selectors button {
    width: 33%;
}*/

/*#stroke label {
   font-size: 1vh; 
}*/

#backg button {
    margin-bottom: 10px;
}

#linewidth {
    margin-bottom: 10px;
    position: relative;
}

#fill {
    background: none;
}

/* Menu Buttons - pop up message */

#drawing-line {
    position: relative;
}

#drawing-line:hover:after {
    content: "Draw Line";
    font-size: 2vh;
    padding: 1vh;
    border-radius: 5px;
    background: #33cc99;
    color: white;
    font-weight: bold;
    display:block;
    position:absolute;
    top: 0;
    left: 60px;
    text-align:center;
    width: 80px;
}

#linewidth:hover:after {
    content: "Line Width";
    font-size: 2vh;
    padding: 1vh;
    border-radius: 5px;
    background: #33cc99;
    color: white;
    font-weight: bold;
    display:block;
    position:absolute;
    top: 0;
    left: 70px;
    text-align:center;
    width: 80px;
}

/* TEXT  */



#add-text {
    margin-top: 10px;
    padding: 0 10px;
    height: 40%;
}

#row5 {
    height: 5%;
}

#textbox {
    background-color: lightgrey;
    height: 85px;
}

.text-panel{
    margin: 5px 0;
}

.text-panel select{
    float: right;
}


#font-family {
    width: 45%;
}

#size option {
    font-size: 10px;
}

/*.btn {
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}*/

/* Selectors  */

.sp-dd {
    height: 30px;
}
