.canvas{
    border:3px black solid;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    cursor: crosshair;
}

#canvas-draft{
    background-color: transparent;
}
body{
    overflow:hidden;
}
#canvas-container{
    height:768px;
    margin: 5px;
}
