.canvas{
    border:3px black solid;
    position:absolute;
    /*
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    */
    cursor: crosshair;
    padding: 0 20px;
    margin: 0 20px;
}

#canvas-real{
    background-color: white;
    margin: 0;
    padding: 0;
}

#canvas-draft{
    background-color: transparent;
    margin: 0;
    padding: 0;
}
body{
    overflow:hidden;
}
#canvas-container{
    height:768px;
    margin: 5px;
}

.img-responsive{
    display: inline-block;
font: normal normal normal 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#canvas-container {
    float: right;
    height: 500px;
    width: 75%;
    margin: 0px;
    padding: 0px;
    border: 3px solid green;
}

/* Clearfix */




/* Menu  */

.menu {
    padding: 10px 10px;
    width: 20%;
    float: left;
    border: 2px solid red;
}

.clearfix:after {
    display: block;
    clear: both;
    content: " ";
}


/* Menu Buttons  */

#row1 button,
#row2 button,
#row3 button,
#row4 button,
#row5 button,
#row6 button,
#row7 button,
#text-tool {
    font-size: 3vw;
    width: 40px;
    height: 40px;
    background-color: grey;  
}

#row8 button {
    background-color: red;
    font-size: 4vw;
    width: 40px;
    height: 40px;
}


#row1,
#row2,
#row3,
#row4,
#row5,
#row6,
#row7,
#row8,
#stroke,
#fill,
#backg,
#line,
#linew {
    display: flex;
    justify-content: center;
}

#selectors {
    margin: 10px 0;
    padding: 9px 0;
    background-color: darkgray;
}

.sp-replacer {
    width: 70%;
    height: 70%;
    border: none;
    padding-right: 0;
    margin-right: 5%;
}



#stroke,
#fill,
#backg {
    height: 10%;
}

.sp-preview {
    width: 70%;
    height: 70%;
    
    
}




#selectors button {
    width: 33%;
}

#stroke label {
   font-size: 1vh; 
}

#backg button {
    margin-bottom: 10px;
}

#linewidth {
    margin-bottom: 10px;
    position: relative;
}

#fill {
    background: none;
}

/* Menu Buttons - pop up message */

#drawing-line {
    position: relative;
}

#drawing-line:hover:after {
    content: "Draw Line";
    font-size: 2vh;
    padding: 1vh;
    border-radius: 5px;
    background: #33cc99;
    color: white;
    font-weight: bold;
    display:block;
    position:absolute;
    top: 0;
    left: 60px;
    text-align:center;
    width: 80px;
}

#linewidth:hover:after {
    content: "Line Width";
    font-size: 2vh;
    padding: 1vh;
    border-radius: 5px;
    background: #33cc99;
    color: white;
    font-weight: bold;
    display:block;
    position:absolute;
    top: 0;
    left: 70px;
    text-align:center;
    width: 80px;
}

/* TEXT  */

#sizerow label,
#fosrow label,
#ffrow label,
#stylerow label {
    display: inline;
    font-size: 5px;
}

#add-text {
    margin-top: 10px;
    padding: 0 10px;
}

#textbox {
    background-color: lightgrey;
    margin-top: 10px;
}


#font-family {
    width: 45%;
}

#size option {
    font-size: 10px;
}


/* Selectors  */

.sp-dd {
    height: 30px;
}

/*  



.col-sm-4 .buttons {
    padding: 15px;
    width: 90%;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.btn-group {
    display: flex;
    justify-content: center;
    font-size: 30px;
    
}
 */




